* {
  box-sizing: border-box;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.root {
  align-items: center;
  background-color: #f2f2f2;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 362px;
  min-height: 580px;
  width: 100%;

  &__title {
    border-bottom: 1px solid rgba(#b5cae3, 0.5);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 21px 0;
    text-align: center;
    text-transform: uppercase;
  }

  &__body {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }
}
